CSS RESET*/
/*a way for the devs to remove any pre-defined margins and paddings set by the browser. This is to have less hassle in managing space that will be used for the layout of the webpage*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* using Google Font "Open Sans" for styling the body texts */
body{
	font-family: "Open Sans", sans-serif;
}

/*NAV SECTION*/

nav{
	/*padding - the space between the content of the element and its border*/
	/*margin - space between the elements and outside their borders*/
	/*padding is a shorthand for padding-top, padding-bottom, padding-left, and padding-right. Using padding will apply it to all sides*/
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*
	If you want to increase/decrease the space of the content to the border, manage the padding

	If you want to manage the spacing in between the elements, increase/decrease the margin of the elements
*/

/*
	We can also select multiple combination selectors with the use of comma
*/

nav .nav, nav .nav-logo{
	margin: .5rem;
	/* li are naturally block elements, but with the use of display: inline;, we were able to transform the li elements to become inline so that they will be displayed beside each other. */
	display: inline;
}

/*INFO SECTION*/

/*
	When we have different measurements for each side, the measurement for each side can be used.
*/

#intro{
	/* %value is used for the padding/margin to use the relative measurements of the screen of the user */
	/*shorthand for padding with the same right and left measurement*/
	/*padding:  2rem 10% 3rem; 
		top sides bottom */

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/* to create space to make the button bigger and to make the content "Apply Now!" more noticeable */
	padding: 1rem;
}

/* SUCCEED INFO */

#succeed-info{
	/*using shorthand for the same measurement as the #intro*/
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	/*to create space between the header and the card*/
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	/* create space between the h3 and the p element in each card */
	margin-bottom: 1rem;
}

#succeed-info .card{
	/* this allows the cards to appear next to each other */
	display: inline-block;
	/* align the elements at the top of their container */
	vertical-align: top;
	/*sets the minimum height in case the content does not fit the card*/
	min-height: 175px;
	/* each card will only use 30% of the screen size */
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
}

/* FOOTER SECTION */

footer{
	padding: .3rem;
	margin-left: 0;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
	/* shorthand: margin: 0 .5rem */
}

#pre-footer{
	background-color: royalblue;
	color: white;
}


#pre-footer div{
	display: inline-block;
	vertical-align: top;
/*	min-height: 20px;*/
	width: 15%;
	color: white;
	margin-left: .5rem;
	margin-right: .5rem;
	margin-top: .1rem;
	margin-bottom: .1rem;
}

#pre-footer h3, #pre-footer p{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*#pre-footer .list-footer{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	color: white;
	margin-left: .5rem;
	margin-right: .5rem;
	margin-top: .1rem;
	margin-bottom: .1rem;
}*/